/*  your css code here. If applicable */
*{
	font-family:sans-serif;
}
#div{
	border:2px solid black;
	height:300px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	gap:10px;
	border-radius:10px;
}
#verification_heading{
	font-size:0.9em;
	text-align:center;
}
#verification_subtext{
	font-size:0.7em;
	text-align:center;
}
.code-container{
	text-align:center;
	
}
.code{
	height:90px;
	width:73px;
	font-size:4em;
	color:gray;
	text-align:center;
	border:0px;
	box-shadow:1px 1px 2px gray,-1px -1px 2px gray;
}